::-moz-selection {color:black;background:#FAC200;}
::selection {color:black;background:#FAC200;}
* {margin:0;padding:0;box-sizing:border-box;}
img {border:none;}

body {background-color:#FAC200;font-family:Arial, sans-serif;color:black;}

h1, h2, h3, h4, h5, h6 {font-weight:400;color:black;margin-bottom:0.5em;font-family:"Fjalla One", sans-serif;}
h1 {font-size:6vw;text-align:center;margin-top:5%;}
p, li {font-size:1.4vw;line-height:1.4vw;}
input[type='submit'], button {cursor:pointer;text-transform:uppercase;font-weight:normal;background:transparent;border:solid 3px white;border:solid 1px white;padding:0.5em 1em;font-size:1vw;color:white;}
label, input, select {display:block;width:100%;font-size:1.4vw;}
input {height:3em;margin-bottom:1em;}
a {color:black;text-decoration:none;-webkit-transition: all 1s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
a:hover {background-color:black;color:#FAC200;-webkit-transition: all 1s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}

header {background-color:black;color:white;padding:2%;width:100%;float:left;color:white;font-family:"Fjalla One", sans-serif;}
header small {float:left;}
header form {float:right;}
header a {color:white;}
header input {margin:0;}

section {float:left;width:100%;}

#clearance {margin:5% auto;width:40%;border:solid 3px black;padding:5%;}

#tweets {background-color:#FAC200;padding:0 5% 5% 5%;color:white;float:left;width:100%;}
#tweets li {float:left;display:inline;width:20%;height:50%;overflow:hidden;}
#tweets li blockquote {float:left;display:table;background-color:#333;background-color:rgba(30, 30, 30, 0.7);width:100%;height:18vw;text-align:center;padding:5%;color:white;vertical-align:middle;}
#tweets li blockquote p {display:table-cell;vertical-align:middle;}
#tweets li:nth-child(even) blockquote {background-color:#666;background-color:rgba(60, 60, 60, 0.7);}
#tweets li a {color:#FAC200;text-decoration:underline;}
#tweets li a:hover {background-color:transparent;color:black;}

/* Media Queries */
/* Smaller Screens ----------- */
@media only screen and (max-width:1024px){
	input[type='submit'], button, li, p {font-size:2vw;line-height:2vw;}
	header {font-size:2vw;}
	#tweets li {width:33%;}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width:320px) and (max-width:480px){
	input[type='submit'], button, h1, li, p {font-size:16vw;line-height:16vw;}
	header {font-size:12vw;}
	#tweets li {width:100%;}
}

@media only screen and (max-width:568px) and (max-height:320px) and (orientation:landscape){
	
}

@media only screen and (min-width:375px) and (max-width:667px){	
	input[type='submit'], button, li, p {font-size:4vw;line-height:4vw;}
	header {font-size:3vw;}
	#tweets li {width:100%;}
}

/*Animations*/
/* Chrome, Safari, Opera */
@-webkit-keyframes loaderSpin {
    0%   {
	   	-ms-transform: rotate(0deg);
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
    }
    100% {
		-ms-transform: rotate(360deg);
	    -webkit-transform: rotate(360deg);
	    transform: rotate(360deg);
	}
}

/* Standard syntax */
@keyframes loaderSpin {
    0%   {
	   	-ms-transform: rotate(0deg);
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
    }
    100% {
    	-ms-transform: rotate(360deg);
	    -webkit-transform: rotate(360deg);
	    transform: rotate(360deg);
	}
}